.gennav{
    display: flex;
justify-content: space-between;
padding: 20px;
padding-top: 18px;
align-items: center;
background-color: #fffcf5;
position: fixed;
width: 100%;
z-index: 999;
}
.logoauthor{
    display: flex;
}

.author h1{
font-size: 20px;
font-family: system-ui;
font-weight: 700;
}

.author p{
    font-size: 14px;
font-family: system-ui;
font-weight: 500;
color: #000000b2;
}

.navlinks {
    display: flex;
    gap: 65px;
    padding-right: 70px;
}

.navlinks a{
font-size: 14px;
font-family: system-ui;
font-weight: 500;
}