.gennav{
    display: flex;
justify-content: space-between;
padding: 20px;
padding-top: 18px;
align-items: center;
background-color: #fffcf5;
position: fixed;
width: 100%;
z-index: 999;
height: 90px;
}

.navlogodiv{
    display: flex;
    width: 60px;
    height: 60px;
    position: relative;
    top: 1px;
    background-color: #000000;
    border-radius: 50%;
}

.navlogo{
    padding: 5px;
}

.logoauthor{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 50px;
}

.author h1{
font-size: 20px;
font-family: system-ui;
font-weight: 700;
color: #000000;
}

.author p{
    font-size: 14px;
font-family: system-ui;
font-weight: 500;
color: #000000b2;
}

.navlinks {
    display: flex;
    gap: 65px;
    padding-right: 70px;
}

.navlinks a{
font-size: 14px;
font-family: system-ui;
font-weight: 500;
  color: #000000;

}

 .navlinks a:hover{
color: #ffc105;
 }

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000000;
}











/* RESPONSIVNESS */

@media (max-width: 768px) {

.gennav{
    width: 100%;
}



    .navlinks {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    gap: 20px;
    background-color: #fffcf5;
    width: 100%;
    padding: 20px 0;
    display: none; /* hidden by default */
  }
  

  .navlogodiv{
width: 40px;
height: 40px;
  }

  .open {
    display: flex; /* show when toggled */
    padding-left: 15px;
    margin-top: 20px;
  }

  .hamburger {
    display: block;
    padding-right: 10px;
  }

  .author h1 {
    font-size: 16px;
  }

  .author p {
    font-size: 12px;
  }

  .logoauthor{
    display: flex;
 position: relative;
    right:55px;
}
}








@media (min-width: 769px) and (max-width: 1199px) {
  .navlinks {
    gap: 35px;
    padding-right: 30px;
  }

  .author h1 {
    font-size: 18px;
  }

  .author p {
    font-size: 13px;
  }
}